body {
	margin-top: 5px;
	/*width: 1100px;*/
}

.svgAOIS {
	width: 1100px;
	height: 360px;
	font-family: helvetica, sans-serif;
}

circle {
  fill: #7A9D7B;
  cursor: pointer;
}

path {
	fill: #444;
	stroke: #444;
}
path.edge {
	fill: none;
	stroke: #444;
	stroke-width: 4px;
}

line {
	stroke: #444;
	stroke-width: 4px;
}

g.player text.name {
	font-size: 10px;
	text-anchor: middle;
	font-weight: 300;
	fill: white;
	cursor: pointer;
}

