div#dendrogram {
  body {
    font: 14px sans-serif;
  }

  .arc path {
    stroke: #fff;
    stroke-width: 3px;
  }

  /*.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }*/

  .circledendogram {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node {
    font: 10px sans-serif;
  }


  .link {
    fill: none;
    stroke: #888888;
    stroke-weight: 1px;
    stroke-opacity: 0.5;
  }
  .highlighted {
    background: yellow
  }
}
