<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Faceted UI Demo</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!--<link rel="stylesheet" href="styles/_maindendogram.scss"/>
  <link rel="stylesheet" href="styles/arcdiagram.css"/>-->
  <link rel="stylesheet" href="/bower_components/dangle/css/dangle.css">
  <!--<link rel="stylesheet" href="styles/dateline.css">-->


  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/dcjs/dc.css"/>
  <link rel="stylesheet" href="/bower_components/angularjs-slider/dist/rzslider.css"/>
  <link rel="stylesheet" href="/bower_components/d3-plugins-sankey/sankey.css"/>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container"
     ng-app="FacetedUI">

  <div class="header">

    <ul class="nav nav-pills pull-right sm">
      <li class="active"><a href="http://138.68.90.110/">Home</a></li>
      <!--<li><a href="index-eui.html">Other ML Techniques</a></li>-->
    </ul>

    <h1 class="text-muted">Sense.me</h1>
  </div>

  <div class="row" ng-controller="FacetedDemoController as c">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <label><input type="checkbox" ng-model="c.showQuery"/>Show Query</label>
      (Took {{c.lastQueryTime / 1000}} sec.)

      <div ng-show="c.showQuery">
        <pre>{{c.query}}</pre>
        <pre>{{c.queryDSL}}</pre>
      </div>
      <form>
        <div class="facet-widget">
          <h4>Search AOIs
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('freetext')" ng-click="c.resetField('freetext')">reset</a>
          </h4>
          <input id="query" type="text"
                 ng-model="c.query.freetext"
                 ng-change="c.debounceRefresh()"/>

        </div>

        <div class="facet-widget">
          <h4 data-toggle="collapse" href="#experimentField">Experiment
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('experiment')"
               ng-click="c.resetField('experiment')">reset</a>
          </h4>

          <div id="experimentField" class="in">
            <div ng-repeat="bucket in c.aggregations.experiment.buckets"
                 ng-if="bucket.doc_count">
              <input type="checkbox"
                     ng-change="c.refresh()"
                     ng-model="c.query.experiment[bucket.key]"
                     id="cb_experiment_{{bucket.key}}"
                     value="{{bucket.key}}"/>
              <label for="cb_experiment_{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
            </div>
          </div>
        </div>

        <div class="facet-widget">
          <h4>Trial</h4>

          <div>
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('trial')"
               ng-click="c.resetField('trial')">reset</a>
          </div>
          <div>
            <label><input type="checkbox" ng-model="c.showHiddenChart" ng-change="c.showHiddenChart"/>Show Hidden Charts</label>
          </div>

          <div ng-repeat="bucket in c.aggregations.trial.buckets"
               ng-if="bucket.doc_count">
            <input type="radio"
                   ng-change="c.refresh()"
                   ng-model="c.query.trial"
                   id="cb_trial_{{bucket.key}}"
                   value="{{bucket.key}}"/>
            <label for="cb_trial_{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>

            <div>
              <div ng-show="c.showHiddenChart">

                <h4>Top 10 Words Used</h4>
                <mainwordcloud-gui-item buckets="c.aggregations.tags.buckets"
                                        bind="bucket.toptags.buckets"></mainwordcloud-gui-item>
                <h4></h4>
              </div>

            </div>
          </div>
        </div>

        <div class="facet-widget">
          <h4 data-toggle="collapse" href="#userNameField">userName
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('userName')"
               ng-click="c.resetField('userName')">reset</a>
          </h4>

          <div id="userNameField" class="in">
            <div ng-repeat="bucket in c.aggregations.userName.buckets"
                 ng-if="bucket.doc_count">
              <input type="checkbox"
                     ng-change="c.refresh()"
                     ng-model="c.query.userName[bucket.key]"
                     id="cb_userName_{{bucket.key}}"
                     value="{{bucket.key}}"/>
              <label for="cb_userName_{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
            </div>
          </div>
        </div>

        <div class="facet-widget">
          <h4 data-toggle="collapse" href="#aoiField">AOIs
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('aoi')"
               ng-click="c.resetField('aoi')">reset</a>
          </h4>

          <div id="aoiField" class="in">
            <div ng-repeat="bucket in c.aggregations.aoi.buckets"
                 ng-if="bucket.doc_count">
              <input type="checkbox"
                     ng-change="c.refresh()"
                     ng-model="c.query.aoi[bucket.key]"
                     id="cb_aoi_{{bucket.key}}"
                     value="{{bucket.key}}"/>
              <label for="cb_aoi_{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
            </div>
          </div>
        </div>

        <div class="facet-widget">
          <h4>Is Comparison
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('isComparison')"
               ng-click="c.resetField('isComparison')">reset</a>
          </h4>

          <div ng-repeat="bucket in c.aggregations.isComparison.buckets"
               ng-if="bucket.doc_count">
            <input type="radio"
                   ng-change="c.refresh()"
                   ng-model="c.query.isComparison"
                   id="isComparison{{bucket.key}}"
                   value="{{bucket.key}}"/>
            <label for="isComparison{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
          </div>
        </div>

        <div class="facet-widget">
          <h4>Is Answer
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('isAnswer')"
               ng-click="c.resetField('isAnswer')">reset</a>
          </h4>

          <div ng-repeat="bucket in c.aggregations.isAnswer.buckets"
               ng-if="bucket.doc_count">
            <input type="radio"
                   ng-change="c.refresh()"
                   ng-model="c.query.isAnswer"
                   id="isAnswer{{bucket.key}}"
                   value="{{bucket.key}}"/>
            <label for="isAnswer{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
          </div>
        </div>
        <div class="facet-widget">
          <h4>Is Settings
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('isSettings')"
               ng-click="c.resetField('isSettings')">reset</a>
          </h4>

          <div ng-repeat="bucket in c.aggregations.isSettings.buckets"
               ng-if="bucket.doc_count">
            <input type="radio"
                   ng-change="c.refresh()"
                   ng-model="c.query.isSettings"
                   id="isSettings{{bucket.key}}"
                   value="{{bucket.key}}"/>
            <label for="isSettings{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
          </div>
        </div>
        <div class="facet-widget">
          <h4>Is Offscreen
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('isOffscreen')"
               ng-click="c.resetField('isOffscreen')">reset</a>
          </h4>

          <div ng-repeat="bucket in c.aggregations.isOffscreen.buckets"
               ng-if="bucket.doc_count">
            <input type="radio"
                   ng-change="c.refresh()"
                   ng-model="c.query.isOffscreen"
                   id="isOffscreen{{bucket.key}}"
                   value="{{bucket.key}}"/>
            <label for="isOffscreen{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
          </div>
        </div>
        <div class="facet-widget">
          <h4>Is Terminal
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('isTerminal')"
               ng-click="c.resetField('isTerminal')">reset</a>
          </h4>

          <div ng-repeat="bucket in c.aggregations.isTerminal.buckets"
               ng-if="bucket.doc_count">
            <input type="radio"
                   ng-change="c.refresh()"
                   ng-model="c.query.isTerminal"
                   id="cb_isTerminal_{{bucket.key}}"
                   value="{{bucket.key}}"/>
            <label for="cb_isTerminal_{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
          </div>
        </div>

       <!-- <div class="facet-widget">
          <h4>Date <label> <input type="checkbox" ng-model="c.useDateSlider" ng-change="c.refresh()"/> use date </label>
          </h4>
          <div>
            <fs-date-histo bind="c.dangleFullDateHisto"></fs-date-histo>
            <rzslider
              rz-slider-model="c.dateSlider.min"
              rz-slider-high="c.dateSlider.max"
              rz-slider-options="c.dateSliderOptions"></rzslider>
          </div>
        </div>-->

        <div class="facet-widget">
          <h4>User Age (Avg: {{c.ageAvg}})
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('age')"
               ng-click="c.resetField('age')">reset</a>
          </h4>

          <div ng-repeat="bucket in c.aggregations.age_avg.buckets">
            <h4>{{bucket.key}}</h4>
          </div>


          <div ng-repeat="bucket in c.aggregations.age.buckets"
               ng-if="bucket.doc_count">
            <input type="radio"
                   ng-change="c.refresh()"
                   ng-model="c.query.age"
                   id="cb_age_{{bucket.key}}"
                   value="{{bucket.key}}"/>
            <label for="cb_age_{{bucket.key}}" title="{{bucket.key}}">
              {{bucket.key|limitTo:20}}{{bucket.key.length > 20 ? '...' : ''}}
              <small>({{bucket.doc_count}})</small>
            </label>
          </div>
        </div>

        <div class="facet-widget">
          <h4>AOIs Fixation durationAoi
            <a class="btn btn-default btn-sm" ng-if="c.queryContains('durationAoi')"
               ng-click="c.resetField('durationAoi')">reset</a>
          </h4>

          <div class="facet-widget">
            <h4 data-toggle="collapse" href="#durationAoiField">
              <a class="btn btn-default btn-sm" ng-if="c.queryContains('durationAoi')"
                 ng-click="c.resetField('durationAoi')">reset</a>
            </h4>

            <div id="durationAoiField" class="in">
              <div ng-repeat="bucket in c.aggregations.durationAoi.buckets"
                   ng-if="bucket.doc_count">
                <input type="checkbox"
                       ng-change="c.refresh()"
                       ng-model="c.query.durationAoi[bucket.key]"
                       id="cb_durationAoi_{{bucket.key}}"
                       value="{{bucket.key}}"/>
                <label for="cb_durationAoi_{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
              </div>
            </div>
          </div>


          <div>
            <label><input type="checkbox" ng-model="c.showHiddenChart" ng-change="c.showHiddenChart"/>Show Hidden Charts</label>

            <!--       <div ng-show="c.showHiddenChart">
                    <durationAoiPieChart-gui-item bind="c.aggregations.durationAoi.buckets"></durationAoiPieChart-gui-item>
                  </div> -->
          </div>

        </div>

        <div>
          <div ng-show="c.showHiddenChart">
            <durationAoihistogram-gui-item bind="c.aggregations.durationAoi.buckets"></durationAoihistogram-gui-item>
          </div>
        </div>


      </form>

    </div>

    <div class="col-lg-8 results col-md-7 col-sm-6">

      <!-- Search breadcrumb -->
      <div class="search-breadcrumb" ng-show="!c.queryIsEmpty()">
        <ol class="breadcrumb">
          <li>
            <a href="#" ng-click="c.resetQuery()">
              <span class="glyphicon glyphicon-remove"></span>
              Reset All
            </a>
          </li>
          <li ng-repeat="(field, value) in c.query"
              ng-if="field!='date'">  <!-- quick hack, just don't display the datefilter here -->
            <a href="#" ng-click="c.resetField(field)">
              <span class="glyphicon glyphicon-remove"></span>
            </a> {{field}}:{{value}}
          </li>
        </ol>
      </div>
      <!-- Search breadcrumb end -->

      <!-- Result count -->
      <h4>
        {{c.hits}} Result{{c.hits == 1? '' : 's'}}
      </h4>
      <!-- Result count end -->

      <!-- Tabs to switch result view -->
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':c.tabIsShown('text')}">
          <a href="#" ng-click="c.showTab('text')">Textual</a>
        </li>
        <li role="presentation" ng-class="{'active':c.tabIsShown('vis')}">
          <a href="#" ng-click="c.showTab('vis')">Visualizations</a>
        </li>
        <li role="presentation" ng-class="{'active':c.tabIsShown('eyevis')}">
          <a href="#" ng-click="c.showTab('eyevis')">Eye Analysis-Viz</a>
        </li>
      </ul>
      <!-- Tabs to switch result view end -->

      <!-- Result set -->
      <div ng-show="c.tabIsShown('text')">
        <ul>
          <li ng-repeat="item in c.results" class="result-list-item">
            <faceted-gui-item item="item._source" score="item.score"
                              query-text="c.getQueryText()"></faceted-gui-item>
          </li>
        </ul>
      </div>
      <!-- Result set end -->

      <!-- Visualisations -->
      <div ng-show="c.tabIsShown('vis')">
        <!--<div class="facet-widget">
          <div style="display:inline-block;width: 700px; heigth:800px">
            <h4>Dates Histogram</h4>
            <fs-date-histo bind="c.dangleDateHisto"></fs-date-histo>
          </div>
        </div>-->
        <h3>Overall Diagram View</h3>
        <div>
          {{c.aggregations.buckets}}
          <maindendogram-gui-item bind="c.mainTreeDiagram"
                                  confirm-action="convertPartyCase(arg1)"></maindendogram-gui-item>
        </div>
        <div>
          <h3>Parallel Coordinates Exploration</h3>
          <parallelcoordinates-gui-item bind="c.mainSpaceTimeCube"
                                        confirm-action="convertPartyCase(arg1)"></parallelcoordinates-gui-item>

          <!--<advancedparallelcoordinates-gui-item bind="c.mainParallelCoordinatesAdv"
                                  confirm-action="convertPartyCase(arg1)"></advancedparallelcoordinates-gui-item>-->
        </div>

        <div>
          <h3>Space-Time Cube Exploration</h3>
          <spacetimecube-gui-item bind="c.mainParallelCoordinates"
                                  confirm-action="convertPartyCase(arg1)"></spacetimecube-gui-item>
        </div>

        <div>
          <h3>Sankey Exploration (Exp1, Trial 1, User 1)</h3>
          <sankey-gui-item bind="c.mainSankey"
                           confirm-action="convertPartyCase(arg1)"></sankey-gui-item>
        </div>

      </div>

      <div ng-show="c.tabIsShown('eyevis')">
        <div>
          <arcDiagram-gui-item bind="c.arcDiagram"
                               confirm-action="convertPartyCase(arg1)"></arcDiagram-gui-item>
        </div>
        <div>
          <datelineDiagram-gui-item bind="c.datelineDiagram"
                                    confirm-action="convertPartyCase(arg1)"></datelineDiagram-gui-item>
        </div>
      </div>

      <!-- Visualisations end -->

    </div> <!-- END col -->
  </div> <!-- END row/container/controller -->

  <div class="footer">
    <p>Faceted UI demo project</p>
  </div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/elasticsearch/elasticsearch.js"></script>
<script src="/bower_components/elastic.js/dist/elastic.js"></script>
<script src="/bower_components/elasticui/dist/elasticui.min.js"></script>
<script src="/bower_components/crossfilter/crossfilter.js"></script>
<script src="/bower_components/d3/d3.js"></script>
<script src="/bower_components/dcjs/dc.js"></script>
<script src="/bower_components/ng-debounce/angular-debounce.js"></script>
<script src="/bower_components/angularjs-slider/dist/rzslider.js"></script>
<script src="/bower_components/d3-tip/index.js"></script>
<script src="/bower_components/colorbrewer/colorbrewer.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="/bower_components/heatmap.js-amd/build/heatmap.js"></script>
<script src="/bower_components/d3.parcoords.js/d3.parcoords.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/angular-underscore-module/angular-underscore-module.js"></script>
<script src="/bower_components/three.js/build/three.js"></script>
<script src="/bower_components/d3-plugins-sankey/sankey.js"></script>
<!-- endbower -->

<!-- extra dependencies the inclusion of which is *not* managed by bower -->
<script src="/bower_components/elasticsearch/elasticsearch.angular.js"></script>
<script src="/bower_components/dangle/dist/dangle.js"></script>

<!-- end extra dependencies  -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/app.js"></script>
<script src="scripts/item-directive.js"></script>
<script src="scripts/query-service.js"></script>
<script src="scripts/mainwordcloud-directive.js"></script>
<script src="scripts/durationpiechart-directive.js"></script>
<script src="scripts/maindendogram-directive.js"></script>
<script src="scripts/durationhistogram-directive.js"></script>
<script src="scripts/arcdiagram-directive.js"></script>
<script src="scripts/datelinediagram-directive.js"></script>
<script src="scripts/parallelcoordinates-directive.js"></script>
<script src="scripts/spacetimecube-directive.js"></script>
<script src="scripts/sankey-directive.js"></script>
<!--<script src="scripts/advancedparallelcoordinates-directive.js"></script>-->
<!-- endbuild -->
</body>
</html>
